@import "tailwindcss";

@source "../src/**/*.rs";
@source "../../../crates/**/src/**/*.rs";

@theme {
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
    :root {
        --radius: 0.5rem;
        --font-sans: 'Inter', sans-serif;
        --bg-gradient: radial-gradient(circle at top, #ffffff 0%, #b4b4b4 100%);
        --foreground: oklch(0.235 0 0);
        --card: oklch(0.802 0 0);
        --card-foreground: oklch(0.145 0 0);
        --popover: oklch(0.802 0 0);
        --popover-foreground: oklch(0.145 0 0);
        --muted: oklch(0.77 0 0);
        --muted-foreground: oklch(0.556 0 0);
        --accent: oklch(0.77 0 0);
        --accent-foreground: oklch(0.205 0 0);
        --border: oklch(0.786 0 0);
        --input: oklch(0.922 0 0);
        --ring: oklch(0.708 0 0);
        --primary: oklch(0.511 0.096 186.391);
        --primary-foreground: oklch(0.786 0.022 196.714);
        --secondary: oklch(0.77 0 0);
        --secondary-foreground: oklch(0.21 0.006 285.885);
    }

    .dark {
        --bg-gradient: radial-gradient(circle at top, #282828 0%, #000000 100%);
        --foreground: oklch(0.848 0 0);
        --card: oklch(0.205 0 0);
        --card-foreground: oklch(0.802 0 0);
        --popover: oklch(0.205 0 0);
        --popover-foreground: oklch(0.802 0 0);
        --muted: oklch(0.269 0 0);
        --muted-foreground: oklch(0.708 0 0);
        --accent: oklch(0.371 0 0);
        --accent-foreground: oklch(0.802 0 0);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.556 0 0);
        --primary: oklch(0.437 0.078 188.216);
        --primary-foreground: oklch(0.794 0.011 196.933);
        --secondary: oklch(0.274 0.006 286.033);
        --secondary-foreground: oklch(0.802 0 0);
    }

    body {
        background-image: var(--bg-gradient);
        background-attachment: fixed;
    }
}
